@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@model GradeCalculatorModel

<!-- Form for Grade Calculator -->

<div>
    <fieldset>
        <form method="post">
            <label style="padding-left:15px;" id="assignments">Assignments: </label>
            <input type="text" id="txtAssignment" asp-for="assignment" /><br /><br />
            <label style="padding-left:15px;" id="groupProject">Group Project: </label>
            <input type="text" id="txtGroupProject" asp-for="project" /><br /><br />
            <label style="padding-left:15px;" id="quizzes">Quizzes: </label>
            <input type="text" id="txtQuiz" asp-for="quiz" /><br /><br />
            <label style="padding-left:15px;" id="midterm">Midterm Exam: </label>
            <input type="text" id="txtMidtermExam" asp-for="midterm" /><br /><br />
            <label style="padding-left:15px;" id="finalExam">Final Exam: </label>
            <input type="text" id="txtFinalExam" asp-for="final" /><br /><br />
            <label style="padding-left:15px;" id="intex">INTEX: </label>
            <input type="text" id="txtINTEX" asp-for="intex" /><br /><br /><br />
            <button id="btnCalc" type="submit">Calculate</button>
        </form>
    </fieldset>
    <div asp-validation-summary="All"></div>
</div>

<p id="percentage"></p>
<p id="letterGrade"></p>