@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}

    <!-- header title -->
    <h1>Ella's Home Page!</h1>
    <!-- Image  -->
    <img id="picEllaFun" style="width:200px;" src="img/2DC8DA15-6443-41F6-BE46-97ECB83E7350.JPG" />
    <!-- What I want to get out of this class -->
    <p>I hope to get an A out of this class, because honestly sometimes I wonder if I am going to make it to the next class period. I also want to master C# to have another language under my belt. I also want to further my development skills, and keep them fresh for my internship ths summer. I want to get faster, more efficient, and cleaner with my code structure, and I believe practice and dedication to this class will help me accomplish that. </p>

    <!-- Output for percentage and resulting letter grade -->
    <p id="percentage"></p>
    <p id="letterGrade"></p>

    <!-- Top 3 Jobs -->
    <h2>My Top 3 Jobs: </h2>
    <ul>
        <li>#1: Cybersecurity Software Engineer</li>
        <li>#2: Web Designer </li>
        <li>#3: Business Analytics </li>
    </ul>



