<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="img/5195638.png">
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <nav>
        <a asp-controller="Stuff" asp-action="Index">Home</a>
        <a asp-controller="Stuff" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/js/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/lib/GradeCalculator.js"></script>

</body>
</html>